
<body> 
    <%- include("header") -%> 

    </div>
    <div class="box">
    
        <form action="/" class="form" method="post">
            <legend>Encryption Message</legend>
        <input type="text" name="message" placeholder="Enter the message" autocomplete="off" />
        <button type="submit" name='list' class='btnSubmit'> Encrypt </button>

        </form>
    </div>
    
    <p><%= error %></p>
    
</body>
