
<body> 
    <%- include("header") -%> 

    </div>
    <div class="box">
    
        <form action="/" class="item" method="post">
        <input type="text" name="message" placeholder="New Item" autocomplete="off" />
        <button type="submit" name='list' > Enter your message </button>

    </form>
    </div>
    
    <p><%= error %></p>
    
</body>
