<%-include('header.ejs') %>
<div class='result'>
    <legend>Original Message:</legend>
    <p><%= result.data %></p>
    <legend>Encrypted Message:</legend>
    <p><%= result.encryptedmessage %></p>
    <legend>Decrypted Message:</legend>
    <p><%= result.decryptionMessage %></p>
</div>

